{
    "presets": [
        "es2015"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-export-extensions",
        "external-helpers-2"
    ]
}
