{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "env": {
    "jest": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "prefer-destructuring": [
      "error",
      {
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      }
    ],
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "warn",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "react/display-name": "off",
    // "react/jsx-filename-extension": ["error", { "extensions": ["js", "tsx"] }],
    // "react/no-did-update-set-state": "warn",
    "react/no-multi-comp": "off",
    // "react/prefer-stateless-function": "error",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  }
}
