{
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.json", "*.md", "*.yml", ".eslintrc", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
