language: node_js
node_js:
  - '0.12'
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - npm run build
  - npm test
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
