html {
    font-size: 20px;
    line-height: 1.5rem;
    font-family: sans-serif, Arial;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#app {
    margin: 40px auto;
    max-width: 1050px;
}

.mail-client {
    widht: 100%;
    height: 450px;
    background-color: #f4f4f4;
    position: relative;
    border: 1px solid #CCC;
}

.mail-client > aside {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    left: 0;
    border-bottom: 1px solid #ccc;
}

.mail-client > main {
    position: absolute;
    top: 46px;
    right: 0;
    bottom: 0;
    left: 0;
}

.mail-client > aside > nav > a {
    display: inline-block;
    padding: .5rem 1rem;
    color: #336699;
}

.mail-client > aside > nav > a.active {
    background-color: #336699;
    color: white;
}

div.inbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
}

div.not-found {
    padding: .5rem 1rem;
}

ul.mail-list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    overflow: hidden;
}

ul.mail-list > li {
    padding: 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

ul.mail-list > li:hover {
    background-color: #eee;
}

ul.mail-list > li h4,
section.mail > h4 {
    padding: .5rem 1rem 0;
    margin: 0;
}

ul.mail-list > li p,
section.mail > p {
    margin: 0;
    padding: 0 1rem .5rem;
    line-height: 1.5em;
    font-size: 0.85rem;
}

ul.mail-list > li h4,
ul.mail-list > li p {
    overflow: hidden;
    width: calc(100% - 2rem);
    white-space: nowrap;
    text-overflow: ellipsis;
}

section.mail {
    border-left: 1px solid #ddd;
    overflow: auto;
    flex: 2;
}

div.compose {
    padding: 0 1rem;
}

div.compose > h4 {
    padding: .5rem 0;
    margin: 0;
}

div.compose > input,
div.compose > textarea {
    padding: .5rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
    display: block;
    width: calc(100% - 2rem);
    max-width: 400px;
    margin-top: 1rem;
}

div.compose > textarea {
    min-height: 200px;
}

div.compose > p {
    color: red;
    margin: 0;
    padding: .5rem 0;
    line-height: 1.5em;
    font-size: 0.9rem;
}

@media (min-width: 1025px) {
    .mail-client > aside {
        height: auto;
        top: 0;
        width: 150px;
        bottom: 0;
        left: 0;
        border-bottom: none;
        border-right: 1px solid #ccc;
    }

    .mail-client > main {
        top: 0;
        right: 0;
        bottom: 0;
        left: 151px;
    }

    .mail-client > aside > nav > a {
        display: block;
    }
}
